body {
    font-family: 'Nova Round', sans-serif;
}

.todos {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.writing {
    margin-top: 20px;
}

button {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 60px;
    height: 20px;
}

button:hover {
    background-color: #d32f2f;
}
#div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#editboard {
    display: none;
    width: 300px; /* Set a fixed width for the aside */
    height: 30vh; /* Full height of the viewport */
    background-color: #f0f0f0; /* Optional: background color for visibility */
    position: fixed; /* Fix the position to the right */
    right: 0; /* Align to the right */
    top: 0; /* Align to the top */
    overflow-y: auto; /* Allow scrolling if content overflows */
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
}
@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    /* #editboard{
        position: relative;
        top: 50%;
        margin-top: ;
    } */
}
#editboard h2 {
    padding-left: 20px;
    color: rgba(0, 0, 0, 0.744);
}
#blured{
    filter: blur(4px);
}
#non-blured {
    filter: none;
}